body{
    font-family: 'Times New Roman';
    color: #0a0742;
    background-color: #5DBCD2;
    display: center;
}

input{
    border: 2px solid white;
    background-color: #0a0742;
    color: white;
}

::placeholder { 
    color: #5DBCD2;
    opacity: 1 ;
}

button{
    background-color: #0a0742;

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

    border: none;
    color: #5DBCD2;
    padding: 10px 24px;
    text-decoration: #5DBCD2;
    font-size: 16px;
}

.w3-bar{
    background-color: #0a0742;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

    border: 2px solid white;
    color: #5DBCD2;
    text-decoration: #5DBCD2;
}

button:hover {
    background-color: white;
    color: #5DBCD2;
    border: 2px solid #0a0742;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
ul li {
    margin: 5px;
    list-style: none;
}
    
dd {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center; 
    margin: 5px;
    margin-left: 0px;
    list-style: none;
}
    
    dt{
        display: inline-block;
        clear: left;
        margin-right: 5px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
    }